/*Modello pagina*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

.principalDiv {
    display: grid;
    grid-template-rows: 9vh 68vh 19vh;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
                        "header header header"
                        "sideBar main main"
                        "sideBar main main";
    padding: 0.5rem;
}

.header, .sideBar, .main, .guardaSquadra, .acquistaGiocatore, aside {
    border: 1px black solid;
    margin: 1px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
    padding: 0.25rem;
    border-radius: 2.5%;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    grid-area: header;
    background-color: #4242426e;
    color: white;
    padding: 0.5rem;
    border-radius: 1.5%;
}
.logoUser {
    width: 8vh;
    height: 8vh;
    margin-left: 10%;
}
header > h1 {
    height: 100%;
    margin-top: 0;
    text-align: center;
}
.sideBar {
    grid-area: sideBar;
}
.main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
.sideBar > [type = "button"] {
    width: 95%;
    display: block;
    margin: 2% auto;
}
.teamstats {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}
.teamstats > .card {
    width: 8rem;
    height: 8rem;
}

.nextGames {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
}
.nextGames > img {
    height: 40%;
}
/*Login page*/
#logoFIGC {
    height: 25vh;
    width: 25vh;
    margin: auto;
}
#loginForm {
    border: blue 3px solid;
    border-radius: 1.5%;
    width: 50vh;
    height: 65vh;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
}
#loginForm > label {
    display: block;
    width: 60%;
    text-align: center;
    margin: auto;
}
#loginForm > input {
    display: block;
    margin: auto;
    margin-bottom: 5%;
}
/* ?????? */
[for = "username"] {
    margin-top: 20%;
}
#signInButton {
    margin-top: 10%;
}
/*Manager page*/
.guardaSquadra {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.card {
    background-color: rgb(202, 201, 201);
    border: 1px black solid;
    color: black;
    border-radius: 5px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.acquistaGiocatore {
    grid-area: main;
    overflow-y: scroll;
}

.searchContainer {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ??????? */
#searchGiocatore {
    display: block;
    margin: 5% 5% 0 0 ;
}
.result {
    height: 85%;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sellBtn {
    width: 100%;
    height: 2rem;
}

.searchResult {
    position: absolute;
    z-index: 10;

    width: 100%;
    background-color: white;
}

.freeAgent:hover {
    background-color: grey;
}

.card {
    text-align: center;
}

.card > img {
    width: 95%;
}

.guardaSquadra {
    display: flex;
    flex-direction: column;
}

.card > p {
    text-align: center;
}

.decidiFormazione {
    display: flex;
    flex-direction: column;
    height: min-content;
    text-align: center;
}

.convocati {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.liberi, .titolari, .panchina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20rem;
    overflow-y: scroll;
}

.partite {
    text-align: center;
    align-items: center;
}

.assumiAllenatore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.assumiAllenatore > .card > img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}
.assumiAllenatore > .card {
    max-width: 20rem;
    max-height: 20rem;
}

.allenatori {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Classe none*/
.none {
    display: none;
}
